<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Guessture</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/custom.min.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.easing.min.js"></script>
</head>
<body id="home" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#home">
                <i class="fa fa-angellist"></i> Guessture
            </a>
        </div>
        <div id="nav-options" class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#home"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#upload">Upload</a>
                </li>
                <li class="result">
                    <a class="page-scroll" href="#result">Results</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="section">
    <div class="section-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Guessture</h1>
                    <!-- TODO Change text in next 2 lines to match Guessture -->
                    <p class="section-text">A textbook analyzer.
                        <br/>Created after being fed up of textbooks.
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="container section text-center">
    <div class="section-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>About Guessture</h2>
                    <!-- TODO: Change text in next 5 lines to match Guessture -->
                    <p>PDFile is a free tool created to help students understand text better by providing media content
                        and also provide keypoints in the text.</p>
                    <p>This tool extracts the contents from each chapter and provides the relevant multimedia content
                        like video tutorials from <a href="http://youtube.com">YouTube&trade;</a>.</p>
                    <p>PDFile also summarizes the chapter to help students revise before the exams.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="upload" class="container section text-center">
    <div class="section-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Upload a video</h2>
                    <!-- TODO: Change text in next line to match Guessture -->
                    <p>Start learning faster by uploading all your textbooks here.</p>
                    <form id="video-form">
                        <input type="file" name="video-file" id="video-file" class="input-file">
                        <label for="video-file" class="btn btn-default btn-lg">Upload a video</label>
                    </form>
                    <div class="container" id="upload-progress">
                        <!-- TODO: display progress of upload - JS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="result" class="container section text-center result">
    <div class="section-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- TODO: Better title -->
                    <h2>What we found</h2>
                    <p class="row">
                        <p id="video-result"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/static/js/custom.js"></script>
</body>
</html>